.App {
  text-align: center;
}
.follower {
  border: gainsboro solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 5rem;
  padding: 1rem;
  /* width: 30%; */
  align-items: center;
  box-shadow: 10px 10px 8px #888888;
}

.follower-img {
  width: 30%;
  display: flex;
}